.blue-text {
    color: #003366;
}

.red-text {
    color: #a41515;
}

.pettycash-text {
    color: #cc1111;
    background: #eee;
    font-weight: bold;
    margin-top: .5rem;
}

.booking-heading {
    color: #1d2124;
    background: #eee;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.monthly-daily-status-report-table {
    word-break: keep-all;
    font-size: 0.8rem;
}