{% extends 'conf/base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Thai Holidays' %}{% endblock %}

{% block content %}
    <div class="container">
        {% for holiday in holidays %}
            <div class="row my-3">
                <div class="col-2">
                    {{ holiday.holiday }}
                </div>
                <div class="col-10 thai-text">
                    {{ holiday.title }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}