{% extends 'conf/base.html' %}

{% load static %}

{% block title %}Relax and enjoy your life!{% endblock %}

{% block content %}
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselIndicators" data-slide-to="1"></li>
            <li data-target="#carouselIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static "conf/images/windmill01.jpg" %}"
                     alt="Summit Windill Golf Club">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static "conf/images/windmill02.jpg" %}"
                     alt="Summit Windill Golf Club">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static "conf/images/windmill04.jpg" %}"
                     alt="Summit Windill Golf Club">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- Page Content -->
    <div class="container">
        <div class="card text-white bg-secondary my-4 py-1 text-center">
            <div class="card-body">
                <p class="text-white m-0 no-break-word">나원 커뮤니케이션은 태국 방콕 서밋 윈드밀 골프장의 무기명 회원권을 소유 및 관리하고 있습니다.</p>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <ul class="no-break-word">
                    <li class="my-1">나원 커뮤니케이션은 태국의 평일 기준 오전 8시 이후 티오프 3개, 9시 이후 티오프 3개, 10시 이후 티오프 1개를 확정하여 갖고 있습니다.
                    </li>
                    <li class="my-1">나원 커뮤니케이션은 태국의 주말과 법정 공휴일 기준 오후 12시 8분, 12시 16분, 12시 24분 확정 티오프를 갖고 있습니다.</li>
                    <li class="my-1">평일 티오프는 30일 전부터 예약 확정이 가능하고 주말 또는 법정 공휴일의 티오프는 직전 월요일에 예약 확정이 가능합니다.</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}