{% extends 'conf/base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Book now' %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row my-4">
            <div class="col">
                <div class="alert alert-info">
                    <ul class="pl-3 mb-0">
                        <li class="my-1 text-danger"><a href="http://pf.kakao.com/_xgexiVK/chat">Kakao Channel</a></li>
                        <li class="my-1 text-danger"><a href="https://www.instagram.com/bkk_golf/">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
        <div class="row my-4">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
