{% extends 'conf/base.html' %}

{% load static i18n humanize %}
{% load windmill_filters %}

{% block title %}{% trans 'Yearly Status Report' %}{% endblock %}

{% block content %}
    <div class="container">
        <h5 class="my-2">{% trans 'Yearly Status Report' %} - {{ year }}</h5>
        <div class="row border-bottom my-3">
            {% for month in months %}
                <div class="col-md-2 col-12">
                    <a href="{% url 'windmill:monthly-status-report' year month|stringformat:"02d" %}"
                       class="{% if this_year and this_month == month %}font-weight-bold text-danger{% endif %}">
                        {{ year }} - {{ month|month_name }}
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-block btn-primary"
                   href="{% url 'windmill:status-report' %}">{% trans 'All years' %}</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}